<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button onclick="sendUser()">Send user</button>
<script>
    async function sendUser() {
    const requestUrl = '/api/user/create';

    const requestData = {
        Name: 'john',
        Age: 34
    };

    const response = await fetch(requestUrl, {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(requestData)  // called request payload or request content too
    });

    const responseData = await response.json();
    }
</script>
</body>
</html>